.git
.github
.next
coverage
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
build
out

.env
.env.local
.env*.local

docs

.vscode
.idea
.dockerignore
.gitignore
Dockerfile
docker-compose.yml
README.md